<div class="alert alert-info" role="alert">
    Минимальная стоимость всех работ <b>3500 руб</b>
</div>

<h3>Цена на основные работы</h3>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th scope="col">Наименование работы</th>
        <th scope="col">Цена</th>
    </tr>
    </thead>
    <tbody>
    {% for price in page.prices %}
    <tr>
        <td>{{ price.name }}</td><td>{{ price.value }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>

<h3>Цена на дополнительные работы</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Наименование работы</th>
            <th scope="col">Цена</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Установка плинтуса</td><td>80 руб за 1 м</td>
        <td>Подпил дверной коробки</td><td>500 руб за 1 шт</td>
        <td>Подпил дверного полотна</td><td>800 руб за 1 шт</td>
        <td>Крепление фанеры на бетонное основание</td><td>200 руб за 1 м2</td>
        <td>Крепление фанеры на деревянные лаги</td><td>200 руб за 1 м2</td>
        <td>Крепление фанеры на деревянное основание</td><td>150 руб за 1 м2</td>
        <td>Крепление порожка (до 90 см)</td><td>150 руб за 1 шт</td>
        <td>Крепление порожка (свыше 90 см)</td><td>50 руб за 30 см</td>
        <td>Прокладка кабеля</td><td>20 руб за 1 м</td>
        <td>Разгрузка и транспортировка основного материала</td><td>30 руб за 1 м2</td>
        <td>Демонтаж доски с пола</td><td>50 руб за 1 м2</td>
        <td>Снятие линолеума, ковролина</td><td>40 руб за 1 м2</td>
        <td>Демонтаж плитки с пола</td><td>80 руб за 1 м2</td>
        <td>Демонтаж клеевого покрытия</td><td>250 руб за 1 м2</td>
        <td>Удаление бетонной стяжки</td><td>150 руб за 1 м2</td>
        <td>Другая неуказанная работа</td><td>500 руб за 1 час</td>
    </tr>
    </tbody>
</table>
<br>