<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description }}">
    <link rel="shortcut icon" href="/assets/img/ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
    <title>{{ page.title }}</title>
</head>
<body>
{% include navigation.html %}
<div class="container pb-4">
    {{ content }}
    <br>
    <hr>
    <div class="row">
        <div class="col-md pt-4">
            <h3 class="text-secondary ml-4 mb-2">Укладка доски</h3>
            <dl class="ml-4">
                <dd><a href="/article/laminat">Ламинат</a></dd>
                <dd><a href="/article/parket">Паркет</a></dd>
                <dd><a href="/article/probka">Пробковый пол</a></dd>
                <dd><a href="/article/vinil">Виниловые плитки</a></dd>
                <dd>
                    <h5 class="text-secondary">от <b class="text-dark">95</b> руб за 1 м<sup>2</sup></h5>
                </dd>
            </dl>
        </div>
        <div class="col-md pt-4">
            <h3 class="text-secondary ml-4 mb-2">Ковровый настил</h3>
            <dl class="ml-4">
                <dd><a href="/article/kovrolin">Ковролин</a></dd>
                <dd><a href="/article/linoleum">Линолеум</a></dd>
                <dd><a href="/article/rezina">Резиновое покрытие</a></dd>
                <dd><a href="/article/trava">Искусственная трава</a></dd>
                <dd>
                    <h5 class="text-secondary">от <b class="text-dark">120</b> руб за 1 м<sup>2</sup></h5>
                </dd>
            </dl>
        </div>
        <div class="col-md pt-4">
            <h3 class="text-secondary ml-4 mb-2">Заливка пола</h3>
            <dl class="ml-4">
                <dd><a href="/article/mononaliv">Наливной пол</a></dd>
                <dd><a href="/article/thdnaliv">3D наливной пол</a></dd>
                <dd><a href="/article/beton">Бетонирование пола</a></dd>
                <dd class="d-none d-md-inline"><br></dd>
                <dd>
                    <h5 class="text-secondary">от <b class="text-dark">400</b> руб за 1 м<sup>2</sup></h5>
                </dd>
            </dl>
        </div>
    </div>
    <br>
    <hr>
    <small class="text-muted">
        Copyright © 2019 MFloor.ru
    </small>
</div>
<script defer src="/assets/js/fa/solid.js"></script>
<script defer src="/assets/js/fa/regular.js"></script>
<script defer src="/assets/js/fa/brands.js"></script>
<script defer src="/assets/js/fa/fontawesome.js"></script>
<script defer src="/assets/js/bootstrap.min.js"></script>
{% include metrics.html %}
</body>
</html>